{% extends "layout.html" %}

{% block title %}
    Добавить пароль
{% endblock %}

{% block main %}
    <div class="column1">
        <h1>Добавить пароль</h1><br><br>

        <form action="/addpassword" method="post">
            <div class="mb-3">
                <input autocomplete="off" class="forms green_bg mx-auto w-auto " id="platform" required name="platform" placeholder="Платформа" type="text">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="forms mx-auto w-auto green_bg" id="platform_username" required name="username" placeholder="Логин" type="text">
            </div>
            <div class="mb-3">
                <input class="forms mx-auto w-auto green_bg" id="platform_password" name="platform_password" required placeholder="Пароль" type="password">
            </div>
            <div class="mb-3">
                <input autocomplete="off" class="forms mx-auto w-auto green_bg" id="password_comment" name="password_comment" placeholder="Комментарий" type="text">
            </div>
            <button class="green_button" type="submit">Сохранить</button>
        </form>
    </div>
    
    {% if password %}
        <center><div class="generated-password">{{ password }}</div></center>
    {% endif %}
</body>
</html>

{% endblock %}