{% extends "layout.html" %}

{% block title %}
    Изменить пароль
{% endblock %}

{% block main %}
    <div class="column1">
            <h1>Изменить пароль</h1><br><br>

        <form action="/changepassword" method="post">
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" autocomplete="off" autofocus required name="old_password" placeholder="Введите старый пароль" type="password">
            </div>

            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="new_password" placeholder="Новый пароль" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Подтвердите пароль" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
            </div>

            <button class="btn green_button" type="submit">Изменить</button><br><br>
        </form>
        <div class="form-group">
            <h5><b>Условия для сложного пароля</b><br></h5>
            <i>1. Пароль должен иметь как минимум 7 буквs</i><br>
            <i>2. Пароль должен иметь хотя бы 1 цифру</i><br>
            <i>3. Пароль должен иметь хотя бы один спецаильный знак.</i><br>
        </div><br><br>
    </div>
{% endblock %}
