{% extends "layout.html" %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block main %}
<div class="topbottompadding">
    <h1>Сбросить пароль</h1><br><br>
    <form action="/resetpassword" method="post">
        <div>
            <input id="username" value="{{ username }}" name="username" type="hidden">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" autofocus name="password" placeholder="Пароль" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirmation" placeholder="Подтвердите пароль" type="password" required pattern="(?=.*\d)(?=.*[A-Za-z]).{7,}">
        </div>
        <button class="btn btn-primary" type="submit">Сбросить</button>
    </form>
</div>
{% endblock %}
