{% extends "layout.html" %}

{% block title %}
Слабые пароли
{% endblock %}

{% block main %}
<div class="column1">
    {% if userdata %}
        <h1>Слабые пароли</h1><br><br>
        {% for i in range(length) %}
            <div class="displaycomment">
                <h4><table class="tablebody" style="width:auto; text-align: left">
                    <tr>
                        <td class="tablebody">Платформа:</td>
                        <td >{{ userdata[i]["platform"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Имя пользователя:</td>
                        <td>{{ userdata[i]["platform_username"] }}</td>
                    </tr>
                    <tr>
                        <td class="tablebody">Пароль:</td>
                        <td>{{ weakpasswords[i] }}</td>
                    </tr>
                </table></h4>
            </div><br><br><br><br>
        {% endfor %}
    {% else %}
        <h1 class="green">Нет слабых паролей</h1><br>s
    {% endif %}
</div>
{% endblock %}